@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import "tailwindcss";

html,
body {
  min-height: 100vh;
  /* Muda de height:100% para min-height */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Só horizontal, vertical livre */
  scroll-behavior: smooth;
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.5;
}

#__next,
#root,
main {
  /* Next.js */
  min-height: 100vh;
}

@theme {
  --color-primary: #071720;
  --color-secondary: #0C3546;
  --color-tertiary: #A3AAB5;
  --color-quaternary: #EFEFEF;
  --color-accent: #2EB760;

  --font-heading: "Raleway", sans-serif;
  --font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
}


@keyframes breathe {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

.animate-breathe {
  animation: breathe 2s ease-in-out infinite;
}